body {
  width: auto;
  height: auto;
}

img {
  width: 15vw; 
  height: 15vh;
  margin: 1vh 1vw 1vh 1vw;
}

#first-page {
  padding: 5px 15px 5px 15px;

}
.file-upload {
  display: none;
}

.payload-buttons {
  margin: 10px 0px 10px 0px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.textLabel {
  width: 100%;
}

textarea {
  width: 600px;
  height: 180px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 10px;
  font-family: Tahoma, sans-serif;
}

div#second-page.second-container-fluid {
  display: none;
  padding: 5px 15px 5px 15px;
}

ul.unordered-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.top-page-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between
}
